@import "./style.scss/header";
@import "./style.scss/posts";
@import "./style.scss/blockpost";

* {
  padding: 0;
  margin: 0;
}

* body {
  box-sizing: border-box;
}
body {
  font: normal normal 14px/17px Inter;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
