.header {
  background-color: #f8f8f8;

  &__navPage,
  &__navMenu {
    display: flex;
    align-items: center;
    padding: 11px 0;
  }
  &__account {
    margin-left: auto;
  }
}

.nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-grow: 2;
  justify-content: space-around;
  a {
    text-decoration: none;
    color: #8291a3;
  }
  li {
    margin-right: 57px;
  }
}
.header__navMenu a {
  color: #1e2123;
}
.header__navPage li:last-child {
  margin-left: auto;
}
