section {
  max-width: 844px;
  margin: 0 auto;
}

.breadcrums {
  display: flex;

  &__link {
    color: #4e64f9;
    &::before {
    }
    &::after {
      content: "\00B7";
      margin: 0 10px;
    }
  }
}

.news {
  &__info {
    display: flex;
    justify-content: space-between;
  }
}
